body{
    // justify-content: center;
    align-items: center;
}

// 主体
main{
    position: relative;
    width: 100%;
    overflow-y: scroll;
    .course-title{
    margin: 15px 0 10px 15px;
    }
    .course-title-box{
          margin: auto;
          width: 385px;
          height: 210px;
          border-radius: 15px;
          overflow: hidden;
          border: 1px solid #ccc;
          box-shadow: 3px 1px 9px -1px #ccc;
    }
    .single-box{
        position: relative;
        margin: auto;
          margin-bottom: 10px;
          width: 385px;
          height: 140px;
        //   background: url("../04-img/11.jpg");
        //   background-size: cover;
        background: #ccc;
          border-radius: 15px;
          overflow: hidden;
          border: 1px solid #ccc;
          box-shadow: 3px 1px 9px -1px #ccc;
}
}
.course-title-box{
    .bg{
        width: 100%;
        height: 150px;
        background: url("../04-img/11.jpg");
          background-size: cover;
          background-position: 0 -60px ;
    }
}
.text-box{
    .one{
        margin: 10px 0 10px 16px;
    }
}
.text-one{
    position: absolute;
    top: 56px;
    left: 22px;
}
    .text-two{
        position: absolute;
        top: 90px;
        left: 22px;
    }


